*{
	transition: color 0.25s, background 0.25s, border-color 0.25s, width 0.25s, height 0.25s;
}

.hidden{
	display:none;
}

.hint{
	opacity:0.5;
	font-style:italic;
}

.form_row
{
	padding : 5px 10px;
}

.form_label
{
	font-weight : bold;
}

.form-error > ul
{
	margin     : 0;
	list-style : none;
	padding    : 0;
}

form [type="submit"]
{
	margin-top : 1em;
}

a
{
	&.button,&.lozenge{
		&:hover{
			text-decoration : none;
		}
	}
}

.toolbar
{
	display:inline-block;
	vertical-align: middle;
	margin   : 2px 7px;
	& > *
	{
		display : inline-block;
		margin  : 0;
		float   : left;
	}
}

.pane
{
	margin   : 10px;
	position : relative;
    .pane-header {
        display: flex;
        & > h1 {
            justify-content: flex-start;
            flex-basis:50%;
            flex-grow:10;
        }
        &>.pane-toolbar {
            justify-content: flex-end;
            flex-basis: auto;
        }
    }
}

body > .pane
{
    margin : 10px auto;
	width  : 98%;
    box-sizing: border-box;
}

@media screen and (min-width: 1025px){
    body > .pane
    {
        margin : 30px auto;
        width  : 75%;
    }
}

@media screen and (min-width: 1601px){
    body > .pane
    {
        margin : 30px auto;
        width  : 50%;
    }
}

.lozenge
{
	text-transform : uppercase;
	font-size      : 90%;
	margin         : 1px;
	padding        : 0.1em 0.2em;
	border-width   : 1px;
	border-style   : solid;
}

.alert
{
	border-width : 1px;
	border-style : solid;
	margin       : 5px;
	padding      : 5px 10px;
	&:empty
	{
		display : none;
	}
}

table.link-list-table
{
	width  : 100%;
	height : 100%;
	thead{
		display:none;
	}
	td > a:first-child:last-child
	{
		padding : 10px 10px;
		display : block;
		&:hover
		{
			text-decoration : none;
		}
	}
}

.dataTables_filter > label
{
	font-size : 0;
	input[type="search"]
	{
		font-size : 10pt;
		width:50%;
	}
}

div.form-div
{
	&.form-view
	{
        width:100%;
		input, button
		{
			&[type="submit"]
			{
				display : none;
			}
		}
        &>form{
            width:100%;
            &>div {
                width: 100%;
                display: table;
            }
        }
	}
	.form_row
	{
		display : table-row;
		.form-label, .form-field
		{
			display : table-cell;
			&:first-child
			{
				padding-left : 0;
			}
		}
        .form-label{
            vertical-align: middle;
            width:10%;
        }
        .form-field{
            input,textarea{
                width:100%;
            }
        }
	}
}

body>header>nav{
	display:block;
	padding: 5px 10px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	font-family : "Century Gothic", Century, Ubuntu, Futura, sans-serif;
	h1{
		font-family : "Century Gothic", Century, Ubuntu, Futura, sans-serif;
		display:inline-block;
		font-weight:bold;
		font-size:140%;
		text-transform: lowercase;
	}
	ul{
		display : inline-block;
		margin:5px 0 0 0;
		padding:0 0 0 10px;
		list-style:none;
		text-transform : lowercase;
		vertical-align: top;
		li{
			display:inline-block;
			padding-right:10px;
		}
		&.right{
			float:right;
		}
	}
}
