{% extends 'DerechoBundle:Default:pane.html.twig' %}
{% form_theme form 'DerechoBundle:Form:field.html.twig' %}

{% block title %}
	Settings
{% endblock %}

{% block pane_title %}{{ block("title") }}{% endblock %}
{% block pane_content %}
	<div class="form-div form-edit">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
