{% block entity_set_widget %}
	{% spaceless %}
		{% for object in objects %}
			{% set disabled = object.disabled %}
			{% set url = object.url %}
			{% set style = object.style %}
			{% set text = object.text %}
			{% include 'DerechoBundle:Form:entityRedirectType.html.twig' %}
		{% endfor %}
	{% endspaceless %}
{% endblock %}
