{% block entity_redirect_widget %}
	{% spaceless %}
		{% if disabled %}
			<span class="hint">{{ text }}</span>
		{% else %}
			<a href="{{ url }}" class="{{ style }}">{{ text }}</a>
		{% endif %}
	{% endspaceless %}
{% endblock %}
