{% block expanding_list_widget %}
	{% spaceless %}
			<span>{{ status }}</span>
			{% if disabled %}
				<div class="toolbar">
					<a href="{{ urlview }}" class="{{ style }}">{{ textview }}</a>
					<a href="{{ urladd }}" class="{{ style }}">{{ textadd }}</a>
				</div>
			{% endif %}
	{% endspaceless %}
{% endblock %}
