{% block form_row %}
	{% spaceless %}
		<div class="form_row">
			<div class="form-label">
				{{ form_label(form) }}
			</div>
			<div class="form-field">
				{{ form_widget(form) }}
			</div>
			<div class="form-error alert status-error">
				{{ form_errors(form) }}
			</div>
		</div>
	{% endspaceless %}
{% endblock form_row %}
