$bkg-light : #fff;
$bkg : #eee;
$bkg-alt : #ddd;
$bkg-dark : #ccc;
$border : #bbb;
$border-dark: #aaa;
$border-alt : #999;
$foreground : #555;
$foreground-dark : #222;
$max : #fff;
$min : #000;
$pane-padding : 15px;
$radius-lg : 15px;
$radius-sm : 5px;
$radius-xs : 3px;
$padding-xs : 1px;
$padding-sm : 3px;
$padding-md : 7px;
$padding-lg : 10px;
$padding-xl : 15px;

$arg-dark : 15%;
$arg-light : 15%;
$arg-pale : 30%;
$arg-shade : 20%;

$color-mud : #652;
$color-clay : #670;
$color-sand : #684;
$color-weed    : #370;
$color-derecho : #064;
$color-sky:#059;
$color-mist : #44a;
$color-nightshade : #639;
$color-amaranth:#724;
$color-stratus:#456;
$color-cirrus : #8aa;
$color-cumulus : #787;
$color-cumulonimbus : #333;

@mixin standalone-left() {
	border-bottom-left-radius : $radius-sm;
	border-top-left-radius    : $radius-sm;
	border-left-width         : $padding-xs;
}

@mixin standalone-right() {
	border-bottom-right-radius : $radius-sm;
	border-top-right-radius    : $radius-sm;
	border-right-width         : $padding-xs;
}

@mixin standalone-list() {
	margin-left : $padding-sm;
}

@mixin standalone(){
	@include standalone-left();
	@include standalone-right();
	@include standalone-list();
}

@mixin interactive($primary) {
	border-width : $padding-xs 0;
	border-style : solid;
	border-color : $primary;
	background   : $bkg;
	padding      : $padding-sm $padding-md;
	cursor       : pointer;
	&:focus, &:hover:focus
	{
		background : $primary;
		border-color : darken($primary, $arg-dark);
		color : $max;
	}
	&:hover
	{
		background   : lighten($primary, $arg-light);
		border-color : $primary;
		color : $max;
	}
	&:active, &:hover:active
	{
		background   : $primary;
		border-color : darken($primary, $arg-dark);
		color        : $max;
	}
	&:first-child, &.standalone
	{
		@include standalone-left();
	}
	&:last-child, &.standalone
	{
		@include standalone-right();
	}
	&.standalone+.standalone
	{
		@include standalone-list();
	}
	&:disabled
	{
		background : $bkg-alt;
		border-color       : $bkg-alt;
		color              : $foreground;
		cursor             : default;
		-webkit-appearance : initial;
		-moz-appearance    : initial;
		padding-left : 0;
		&[type="checkbox"]{
			&::before
			{
				content : "NO";
			}
			&:checked{
				&::before{
					content:"YES";
				}
			}
		}
	}
}

@mixin interactive-grad($primary){
	background:linear-gradient(to bottom,$max,$bkg-dark);
	border-color:$border-alt;
	&:hover
	{
		background   : linear-gradient(to bottom,lighten($primary, $arg-light),$primary);
	}
	&:active
	{
		background   : linear-gradient(to bottom, lighten($primary, $arg-light),$primary);
	}
	&:disabled
	{
		background : $bkg-alt;
	}
}

@mixin colorize($primary)
{
	color      : $foreground;
	background : $bkg url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+ADHhASI+tDSY8AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAADklEQVQI12NgwAKMMUQAA70ANFF9Rz8AAAAASUVORK5CYII=') repeat fixed center;

	strong, b, em, i, u
	{
		color : $foreground-dark;
	}

	div.form-div
	{
		.form_row
		{
			.form-label, .form-field
			{
				padding : $padding-md $padding-lg;
			}
		}
	}

	.pane
	{
		background    : $bkg-alt;
		border        : $padding-xs solid $border-dark;
		border-radius : $radius-lg;
		padding       : $pane-padding;
		overflow      : hidden;
        .pane-header {
            & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
                color: $primary;
                &:first-child {
                    margin: (-$pane-padding) (-$pane-padding) 0 (-$pane-padding);
                    padding: $pane-padding;
                    line-height: 1em;
                    background: linear-gradient(to bottom, $bkg-light 0%, $bkg 33%, $bkg-alt 100%);
                    border-bottom-color: $bkg-alt;
                }
            }
            .pane-toolbar {
                margin-top: ($pane-padding/2);
                margin-right: ($pane-padding/2);
            }
        }
	}

	input, select, textarea
	{
		@include interactive($primary);
		color : $foreground;
	}

	button, input[type="button"], input[type="submit"], a.button
	{
		&:not(.entity)
		{
			@include interactive($primary);
			@include interactive-grad($primary);
			color : $foreground;
		}
		&.entity
		{
			@include interactive($primary);
			color            : $primary;
			background-color : $max;
		}
	}

	a, a:visited
	{
		color : $primary;
	}

	a:hover, a:focus
	{
		color : darken($primary,$arg-dark);
	}

	.lozenge, .alert
	{
		border-radius    : $radius-xs;
		border-color     : $primary;
		color            : $primary;
		background-color : $max;
	}

	.status-error
	{
		color        : $color-amaranth;
		border-color : $color-amaranth;
	}

	.status-warning
	{
		color        : $color-clay;
		border-color : $color-clay;
	}

	.status-success
	{
		color        : $color-weed;
		border-color : $color-weed;
	}

	.status-info
	{
		color        : $color-mist;
		border-color : $color-mist;
	}

	table.link-list-table td > a:first-child:last-child:hover
	{
		color            : darken($primary, $arg-dark);
		border-radius    : $radius-sm;
		background-color : rgba($primary, 0.3);
	}

	div.form-div
	{
		.form-field
		{
			label
			{
				color : $foreground-dark;
			}
			input[type="checkbox"]{
				&:not(:only-child)
				{
					height   : 0.1px;
					width    : 0.1px;
					overflow : hidden;
					position : absolute;
					margin   : 0;
					padding  : 0;
				}
				vertical-align: middle;
			}
			input[type="checkbox"]:not(:only-child)+label{
				@include interactive($primary);
				@include standalone();
				color: $primary;
			}
			input[type="checkbox"]:not(:only-child):checked + label
			{
				background : $primary;
				color      : $max;
			}
		}

	}

	body > header > nav
	{
		background          : linear-gradient(to bottom, lighten($primary, $arg-light), $primary);
		border-bottom-color : darken($primary, $arg-dark);
		h1
		{
			color : $max;
		}
		ul li
		{
			a, a:visited
			{
				color           : $max;
				text-decoration : none;
			}
			a:hover, a:focus, a:active
			{
				color           : lighten($primary,$arg-pale);
				text-decoration : none;
			}
		}
	}
}

html.theme-clean
{
	&.scheme-mud{
		@include colorize($color-mud);
	}
	&.scheme-clay{
		@include colorize($color-clay);
	}
	&.scheme-sand{
		@include colorize($color-sand);
	}
	&.scheme-weed{
		@include colorize($color-weed);
	}
	&.scheme-derecho{
		@include colorize($color-derecho);
	}
	&.scheme-sky{
		@include colorize($color-sky);
	}
	&.scheme-mist{
		@include colorize($color-mist);
	}
	&.scheme-nightshade{
		@include colorize($color-nightshade);
	}
	&.scheme-amaranth{
		@include colorize($color-amaranth);
	}
	&.scheme-cumulonimbus{
		@include colorize($color-cumulonimbus);
	}
	&.scheme-stratus{
		@include colorize($color-stratus);
	}
	&.scheme-cirrus{
		@include colorize($color-cirrus);
	}
	&.scheme-cumulus{
		@include colorize($color-cumulus);
	}
}
