$bkg-light : #fff;
$bkg : #ddd;
$bkg-alt : #ccc;
$bkg-dark : #bbb;
$border : #bbb;
$border-dark: #aaa;
$border-alt : #999;
$foreground : #333;
$foreground-dark : #222;
$max : #fff;
$min : #000;
$pane-padding : 30px;
$radius-lg : 0px;
$radius-sm : 0px;
$radius-xs : 0px;
$padding-xs: 2px;
$padding-sm: 3px;
$padding-md : 10px;
$padding-lg : 15px;
$padding-xl : 30px;

$arg-dark : 10%;
$arg-shade : 15%;
$arg-light : 15%;
$arg-pale : 30%;

$color-mud : #750;
$color-clay : #770;
$color-sand : #780;
$color-weed : #470;
$color-derecho : #075;
$color-sky : #069;
$color-mist : #34f;
$color-nightshade : #60a;
$color-amaranth : #705;
$color-stratus : #456;
$color-cirrus : #688;
$color-cumulus : #676;
$color-cumulonimbus : #444;

@mixin standalone-left() {
	border-bottom-left-radius : $radius-sm;
	border-top-left-radius    : $radius-sm;
	border-left-width         : $padding-xs;
}

@mixin standalone-right() {
	border-bottom-right-radius : $radius-sm;
	border-top-right-radius    : $radius-sm;
	border-right-width         : $padding-xs;
}

@mixin standalone-list() {
	margin-left : $padding-sm;
}

@mixin standalone() {
	@include standalone-left();
	@include standalone-right();
	@include standalone-list();
}

@mixin interactive($primary) {
	border-width : $padding-xs 0;
	border-style : solid;
	border-color : $bkg;
	background   : $bkg;
	padding      : $padding-sm $padding-md;
	cursor       : pointer;
	&:focus, &:hover:focus
	{
		background   : darken($primary, $arg-dark);
		border-color : darken($primary, $arg-dark);
		color        : $max;
	}
	&:hover
	{
		background   : $primary;
		border-color : $primary;
		color        : $max;
	}
	&:active, &:hover:active
	{
		background   : darken($primary,$arg-dark);
		border-color : darken($primary,$arg-dark);
		color        : $max;
	}
	&:first-child, &.standalone
	{
		@include standalone-left();
	}
	&:last-child, &.standalone
	{
		@include standalone-right();
	}
	&.standalone + .standalone
	{
		@include standalone-list();
	}
	&:disabled
	{
		background : $bkg-light;
		border-color       : $bkg-light;
		color              : $foreground;
		cursor             : default;
		-webkit-appearance : initial;
		-moz-appearance    : initial;
		padding-left : 0;
		&[type="checkbox"]
		{
			&::before
			{
				content : "NO";
			}
			&:checked
			{
				&::before
				{
					content : "YES";
				}
			}
		}
	}
}

@mixin interactive-grad($primary){
	background:$primary;
	border-color:$primary;
	color:$max;
}

@mixin colorize($primary){
	color      : $foreground;
	background:$bkg;
	font-size:105%;

	strong, b, em, i, u
	{
		color : $foreground-dark;
	}

	div.form-div
	{
		.form_row
		{
			.form-label, .form-field
			{
				padding : $padding-md $padding-lg;
			}
		}
	}

	.pane
	{
		background    : $bkg-light;
		border        : $padding-xs solid $bkg-light;
		border-radius : $radius-lg;
		padding       : $pane-padding;
		overflow:hidden;
        .pane-header {
            & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
                color: $primary;
                &:first-child {
                    margin: (-$pane-padding) (-$pane-padding) 0 (-$pane-padding);
                    padding: $pane-padding;
                    line-height: 1em;
                }
            }
            .pane-toolbar {
                margin-top: ($pane-padding/2);
                margin-right: ($pane-padding/2);
            }
        }
	}

	input, select, textarea
	{
		@include interactive($primary);
		color:$foreground;
	}

	button, input[type="button"], input[type="submit"], a.button
	{
		&:not(.entity){
			@include interactive($primary);
			@include interactive-grad($primary);
			color : $max;
		}
		&.entity{
			@include interactive($primary);
			color : $primary;
			background-color : $max;
			border-color : $primary;
		}
	}


	a, a:visited
	{
		color : $primary;
	}

	a:hover, a:focus
	{
		color : darken($primary,$arg-dark);
	}

	.lozenge, .alert
	{
		border-radius    : $radius-xs;
		border-color     : lighten($primary,$arg-light);
		color            : $primary;
		background-color : lighten($primary,$arg-light);
	}

	.status-error
	{
		color            : $color-amaranth;
		border-color     : $color-amaranth;
	}

	.status-warning
	{
		color            : $color-clay;
		border-color     : $color-clay;
	}

	.status-success
	{
		color            : $color-weed;
		border-color     : $color-weed;
	}

	.status-info
	{
		color            : $color-mist;
		border-color     : $color-mist;
	}

	table.link-list-table td > a:first-child:last-child:hover
	{
		color            : darken($primary,$arg-dark);
		border-radius    : $radius-sm;
		background-color : rgba($primary, 0.3);
	}

	div.form-div
	{
		.form-field
		{
			label
			{
				color : $foreground-dark;
			}
			input[type="checkbox"]
			{
				&:not(:only-child)
				{
					height   : 0.1px;
					width    : 0.1px;
					overflow : hidden;
					position : absolute;
					margin   : 0;
					padding  : 0;
				}
				vertical-align : middle;
			}
			input[type="checkbox"]:not(:only-child) + label
			{
				@include interactive($primary);
				@include standalone();
				background   : $max;
				color        : $primary;
				border-color : $max;
			}
			input[type="checkbox"]:not(:only-child):checked + label
			{
				background : $max;
				color      : $primary;
				border-color : $primary;
			}
		}

	}

	body > header > nav
	{
		background : $primary;
		border-bottom-color:$primary;
		h1
		{
			color:$max;
		}
		ul li
		{
			a, a:visited
			{
				color           : $max;
				text-decoration : none;
			}
			a:hover, a:focus, a:active
			{
				color           : lighten($primary,$arg-pale);
				text-decoration : none;
			}
		}
	}
}

html.theme-plateau
{
	&.scheme-mud
	{
		@include colorize($color-mud);
	}
	&.scheme-clay
	{
		@include colorize($color-clay);
	}
	&.scheme-sand
	{
		@include colorize($color-sand);
	}
	&.scheme-weed
	{
		@include colorize($color-weed);
	}
	&.scheme-derecho
	{
		@include colorize($color-derecho);
	}
	&.scheme-sky
	{
		@include colorize($color-sky);
	}
	&.scheme-mist
	{
		@include colorize($color-mist);
	}
	&.scheme-nightshade
	{
		@include colorize($color-nightshade);
	}
	&.scheme-amaranth
	{
		@include colorize($color-amaranth);
	}
	&.scheme-cumulonimbus
	{
		@include colorize($color-cumulonimbus);
	}
	&.scheme-stratus
	{
		@include colorize($color-stratus);
	}
	&.scheme-cirrus
	{
		@include colorize($color-cirrus);
	}
	&.scheme-cumulus
	{
		@include colorize($color-cumulus);
	}
}
