{% extends 'DerechoBundle:Default:pane.html.twig' %}

{% block title %}
	All {{ objectType|slice(-1) == "s" ? objectType|capitalize~"es" : objectType|capitalize~"s" }}
{% endblock %}

{% block pane_title %}{{ block("title") }}{% endblock %}
{% block pane_toolbar %}
	{% if not all %}
		<a href="{{ path("list_all",{"objectType":objectType}) }}" class="button">Show Archived</a>
	{% endif %}
	<a href="{{ path("edit",{"objectType":objectType}) }}" class="button">New</a>
{% endblock %}
{% block pane_content %}
	<table class="link-list-table">
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		{% for object in objects %}
			<tr>
				<td><a href="{{ path("view",{"objectType":objectType, "id":object.id}) }}">{{ object.title }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
