{% extends 'DerechoBundle:Default:pane.html.twig' %}

{% block title %}
	{{ objectType|slice(-1) == "s" ? objectType|capitalize~"es" : objectType|capitalize~"s" }} in {{ parentType|capitalize }} {{ parent.title }}
{% endblock %}

{% block pane_title %}{{ block("title") }}{% endblock %}
{% block pane_toolbar %}
	<a href="{{ path("view",{"objectType":parentType,"id":parent.id}) }}" class="button">View Parent</a>
	{% if not all %}
		<a href="{{ path("list_all_in",{"objectType":objectType,"parentType":parentType,"parentId":parent.id}) }}"
		   class="button">Show Archived</a>
	{% endif %}
	<a href="{{ path("create_in",{"objectType":objectType,"parentType":parentType,"parentId":parent.id}) }}" class="button">New</a>
{% endblock %}
{% block pane_content %}
	<table class="link-list-table">
		<thead>
		<tr>
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
		{% for object in objects %}
			<tr>
				<td><a href="{{ path("view",{"objectType":objectType, "id":object.id}) }}">{{ object.title }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
