{% extends 'DerechoBundle:Default:pane.html.twig' %}
{% form_theme form 'DerechoBundle:Form:field.html.twig' %}

{% block title %}
	{{ objectType|capitalize }} {{ object.title }}
{% endblock %}

{% block pane_title %}{{ block("title") }}{% endblock %}

{% block pane_toolbar %}
    {% if parentId is not null %}
    <a class="button" href="{{ path("list_in",{"objectType":objectType, "parentType":parentType, "parentId":parentId}) }}">View All</a>
    <a class="button" href="{{ path("create_in",{"objectType":objectType, "parentType":parentType, "parentId":parentId}) }}">New</a>
    {% else %}
    <a class="button" href="{{ path("list",{"objectType":objectType}) }}">View All</a>
    <a class="button" href="{{ path("create",{"objectType":objectType}) }}">New</a>
    {% endif %}
    <a class="button" href="{{ path("edit",{"objectType":objectType, "id":object.id}) }}">Edit</a>
{% endblock %}

{% block pane_content %}
	<div class="form-div form-view">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
