<!DOCTYPE html>
<html class="{{ settings.get("theme").value }} {{ settings.get("scheme").value }}">
<head>
    <title>Derecho | {% block title %}{% endblock %}</title>
    {% stylesheets filter="scssphp,cssrewrite" output="css/app.css"
        "@DerechoBundle/Resources/public/stylesheets/default.scss"
        "@DerechoBundle/Resources/public/stylesheets/framework.scss"
        "@DerechoBundle/Resources/public/stylesheets/themes/clean.scss"
        "@DerechoBundle/Resources/public/stylesheets/themes/rich.scss"
        "@DerechoBundle/Resources/public/stylesheets/themes/plateau.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}
    {% javascripts filter="?jsqueeze"
        '../vendor/components/jquery/jquery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1>{{ settings.get("title").value }}</h1>
            <ul>
                <li>
                    <a href="{{ path("list",{"objectType":"project"}) }}">Projects</a>
                </li>
                <li>
                    <a href="{{ path("list",{"objectType":"milestone"}) }}">Milestones</a>
                </li>
                <li>
                    <a href="{{ path("list",{"objectType":"issue"}) }}">Issues</a>
                </li>
                <li>
                    <a href="{{ path("list",{"objectType":"workspan"}) }}">Workspans</a>
                </li>
                <li>
                    <a href="{{ path("list",{"objectType":"status"}) }}">Statuses</a>
                </li>
                <li>
                    <a href="{{ path("list",{"objectType":"tag"}) }}">Tags</a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a href="{{ path("settings") }}">Settings</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block page_content %}
    {% endblock %}
</body>
</html>
