{% extends 'DerechoBundle:Default:base.html.twig' %}

{% block page_content %}
    <div class="pane">
        <div class="pane-header">
            <h1>{% block pane_title %}{% endblock %}</h1>
            <div class="toolbar pane-toolbar">
                {% block pane_toolbar %}
                {% endblock %}
            </div>
        </div>
        {% block pane_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts filter="?jsqueeze"
        '../vendor/datatables/datatables/media/js/jquery.dataTables.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function(){
            $(".link-list-table").dataTable({ordering:false,paging:false,searching:true,info:false});
        });
    </script>
{% endblock %}
