{% extends 'DerechoBundle:Default:pane.html.twig' %}
{% form_theme form 'DerechoBundle:Form:field.html.twig' %}

{% block title %}
	{% if isNew is defined and isNew is not null and isNew %}Create {{ objectType|capitalize }}{% else %}Edit {{ objectType|capitalize }} {{ object.title }}{% endif %}
{% endblock %}

{% block pane_title %}{{ block("title") }}{% endblock %}
{% block pane_toolbar %}
	{% if object.id is not empty %}
	<a class="button" href="{{ path("view",{"objectType":objectType,"id":object.id}) }}">Back</a>
	{% endif %}
	<a class="button" href="{{ path("list",{"objectType":objectType}) }}">View All</a>
{% endblock %}
{% block pane_content %}
	<div class="form-div form-edit">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
